@font-face {
  font-family: "SUITE-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}
#root {
  font-family: "SUITE-Regular";
}

body {
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

/* .mainBox {
  background-color: #e2e2e2;
  width: 1000px;
  margin: auto;
  border-radius: 10px;
}

.input-form-container {
  background-color: #e2e2e2;
  width: 50%;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
}

.script-scrollable-div {
  max-height: 200px;
  overflow-y: auto;
}

.videoInfoBox {
  display: flex;
}

.videoInfoBox .image {
  padding: 10px;
  width: 50%;
}

.videoInfoBox img {
  width: 100%;
}

.videoInfoBox .info {
  padding-right: 10px;
  padding-right: 20px;
  width: 50%;
}

.videoInfoBox .info div {
  max-height: 300px;
  overflow-y: auto;
} */
